*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background-color: aliceblue;
    background: repeat-y right center url('../CSS/img/h3.jpg'), no-repeat linear-gradient(to left, steelblue, white);
    background-size: 20%, auto;

}
img{
    display: block;
}
.nowrap{
    white-space: nowrap;
}

.offscreen{
    position: absolute;
    left: -10000px;
}
.container{
    background-color: rgb(251, 210, 156);
    background-image: url('../CSS/img/h.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
.hero{
    border-bottom: 2px solid black;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    background-color: hsla(0, 84%, 100%, 0.375);
}
    .h1{
    font-size: 500%;
    color: black;
    text-shadow: 2px 2px 5px white;
   /*  background-color: hsla(0, 84%, 36%, 0.375);
    padding: 0.25rem;
    border-radius: 10px; */
}
.profile-pic-figure{
    width: 35%;
}
.profile-pic-figure img{
    width: 100%;
    height: auto;
    min-width: 100px;
    border: 5px double gray;
    border-radius: 50px;
}
.example{
    margin-top: 1rem;
    padding-left: 20px;
    border: 1px solid red;
}
.example img{
    width: 25%;
    height: auto;
}
.clip{
    font-weight: 800;
    font-size: 15rem;
    text-align: center;
    background-image: url(..//CSS/img/h1.jpg);
    background-size: 100%; 
    text-transform: uppercase;
    -webkit-background-clip: text;
    color: transparent;
}