body{
    padding: 5%;
    font-size: 1.5rem;
}
ol{
    list-style-type: lower-alpha;
    padding: 0;
}
ul{
    list-style-position: inside;
    list-style-type: square;
    color: black;
}
ul li:nth-child(odd){
    color: red;
}

ul ::marker{
    color: black;
    content: "lack   ";
}