*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
body{
    font-size: 1.5rem;
    min-height: 200vh;
}

.outer-container{
    border-style: dotted;
    width: 75vw;
    height: 85vh;
    margin: 40px auto;
    position: relative;
}

.inner-container{
    border-style: dotted;
    width: 40vw;
    height: 50vh;
    margin: 130px auto;
    position: relative;
}

.box{
    width: 150px;
    height: 150px;
    color: #fff;
    padding: 1rem;
}

.absolute{
    background-color: blue;
    position: absolute;
    top: 25%;
    left: 25%;
    z-index: 1;
}
.relative{
    background-color: red;
    position: relative;
    top: 110%;
    left: 70%;
}

.fixed{
    position: fixed;
    background-color: green;
    top: 0;
}

.sticky {
    background-color: black;
    position: sticky;
    top: 0;
    opacity: 0.5;
}

html{
    scroll-behavior: smooth;
}

section{
    height: 100vh;
}

.blue{
    background-color: blue;
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}

header, footer{
    color: #fff;
    text-align: center;
    height: 100px;
}

header{
    position: sticky;
    top: 0;
    font-size: 3rem;
}

footer{
    background-color: black;
    position: sticky;
    bottom: 0;
}

a:visited{
    color: white;
}

.social{
    background-color: royalblue;
    color: white;
    font-size: inherit;
    position: fixed;
    top: 30%;
    left: 0;
    z-index: 1;
}