html {
    font-size: 15px;
  }
  * {
  }
  body {
  }
  button,
  input,
  textarea,
  select {
    font: inherit;
  }
  h1,
  h2 {
    color: blue;
  }
  p {
    color: purple;
  }
  .highlight {
    text-transform: uppercase;
    font-weight: bold;
    background-color: gold;
  }
  #second {
    color: gray;
    font-style: italic;
  }
  .gray {
    color: gray;
  }
  