@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');


body{
    padding: 10%;
    font-size: 2em;
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}


/* p{
    text-transform: uppercase;
    text-align: justify;
    text-indent: 2em;
    line-height: 1.5;
    letter-spacing: 0.1em;
    word-spacing: 0.1em;
    font-weight: 400;


} */