* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Dark-cyan: hsl(158, 36%, 37%);
  --Darker-cyan: hsl(158, 36%, 20%);
  --Cream: hsl(30, 38%, 92%);
  --Very-dark-blue: hsl(212, 21%, 14%);
  --Dark-grayish-blue: hsl(228, 12%, 48%);
  --White: hsl(0, 0%, 100%);

  --fw-regular: 500;
  --fw--bold: 700;

  --ff: "Montserrat", sans-serif;

  --content-padding: 1.5rem;
  --content-spacing: 1rem;
}

body {
  height: 100%;
  line-height: 1.7;
  font-family: var(--ff);
  font-weight: var(--fw-regular);
  font-size: 0.875rem;
  color: var(--Dark-grayish-blue);
  background-color: var(--Cream);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 1rem;
}

img,
picture {
  display: block;
  max-width: 100%;
}

p,
h1 {
  overflow-wrap: break-word;
}

h1{
    line-height: 1;
}

.flex-group{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
}

.visually-hidden:not(:focus):not(:active){
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

@media (min-width: 600px){
    .product{
        padding: 1.5rem;
        grid-template-columns: 1fr 1fr;
    }
}
.product{
    display: grid;
    background-color: var(--White);
    border-radius: 0.5rem;
    overflow: hidden;
    max-width: 600px;
}

.product_content{
    display: flex;
    flex-direction: column;
    gap: var(--content-spacing);
    padding: var(--content-padding); 
}

.product_category{
    font-size: 0.8125;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.product_title{
    font-size: 2rem;
    font-family: var(--ff);
    color: var(--Very-dark-blue);
}

.product_price{
    font-size: 2rem;
    font-family: var(--ff);
    color: var(--Dark-cyan);
}

.button{
    cursor: pointer;
    background-color: var(--Dark-cyan);
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 0.75rem;
    justify-content: center;
    border: 0;
    padding: .5em 1.5em;
    font-weight: var(--fw--bold);
    font-size: 0.925rem;
    color: var(--White);
    border-radius: 0.5rem;
}

.button:is(:hover, :focus){
    background-color: var(--Darker-cyan);
}

.button[data-icon="shopping-cart"]::before{
    content: "";
    background-image: url("images/icon-cart.svg");
    width: 15px;
    height: 12px;
    
}






