@font-face {
  font-family: inter-regular;
  src: url(fonts/static/Inter-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Green: hsl(75, 94%, 57%);
  --White: hsl(0, 0%, 100%);
  --Grey: hsl(0, 0%, 20%);
  --Dark-Grey: hsl(0, 0%, 12%);
  --Off-Black: hsl(0, 0%, 8%);
}

body {
  background-color: var(--Off-Black);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
}

img {
  display: block;
  margin-inline: auto;
  width: 8rem;
  border-radius: 50%;
}

.container .profile-img {
  border-radius: 50%;
}

.container {
  background-color: var(--Dark-Grey);
  width: 400px;
  border-radius: 0.75rem;
  padding: 2rem;
}

h1,
h2,
p {
  text-align: center;
}

h1 {
  color: var(--White);
}

h2 {
  font-size: 0.99rem;
  margin-bottom: 1.4rem;
  color: var(--Green);
}

p {
  color: var(--White);
  font-size: 1.4rem;
  margin-bottom: 1.2rem;
}

ul {
  list-style: none;
}

li {
  margin-bottom: 1.4rem;
}

li a {
  background-color: var(--Grey);
  display: block;
  border-radius: 0.75rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: var(--White);
  font-size: 1.4rem;
  transition: ease-in-out 0.3s;
}

li a:hover {
  background-color: var(--Green);
  color: black;
}

footer {
  text-align: center;
  color: var(--White);
  letter-spacing: 1px;
}

footer a {
  text-decoration: none;
  color: var(--Green);
}

@media (min-width: 400px) {
  .container {
    min-width: 400px;
  }
  footer {
    white-space: nowrap;
  }
}
@media (min-width: 576px) {
  .container {
    min-width: 576px;
  }
}
@media (min-width: 768px) {
  .container {
    min-width: 768px;
  }
}

@media (min-width: 992px) {
  .container {
    min-width: 992px;
  }
}
@media (min-width: 1200px) {
  .container {
    min-width: 1200px;
  }
}
