@font-face {
  font-family: Inter;
  src: url(fonts/static/Inter.ttf) format("ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
}

:root {
  --Green: hsl(75, 94%, 57%);
  --White: hsl(0, 0%, 100%);
  --Grey: hsl(0, 0%, 20%);
  --Dark-Grey: hsl(0, 0%, 12%);
  --Off-Black: hsl(0, 0%, 8%);
}

img {
  width: 120px;
  border-radius: 50%;
  display: block;
  margin-inline: auto;
  margin-bottom: 1.5rem;
}

body {
  background-color: var(--Off-Black);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  background-color: var(--Dark-Grey);
  max-width: 400px;
  padding: 2rem;
  border-radius: 0.5rem;
}

h1 {
  font-size: 2rem;
  text-align: center;
  display: block;
  color: white;
}

h2 {
  font-size: 1rem;
  text-align: center;
  color: var(--Green);
  margin-bottom: 1rem;
  display: block;
}

p {
  text-align: center;
  font-size: 1.5rem;
  display: block;
  color: var(--White);
  margin-bottom: 1.5rem;
}

.attribution {
  font-size: 1rem;
  text-align: center;
  color: var(--Green);
}

.attribution a {
  text-decoration: none;
  color: var(--Green);
}

.attribution a span {
  font-weight: 900;
}

ul {
  list-style-type: none;
  font-size: 1.5rem;
}

ul li {
  margin-bottom: 1.3rem;
}

li a {
  text-decoration: none;
  color: var(--White);
  display: block;
  background-color: var(--Grey);
  text-align: center;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: ease-in-out 0.3s;
}

li a:hover {
  background-color: var(--Green);
  color: black;
}

@media (min-width: 576px) {
  .container {
    min-width: 576px;
  }
}
@media (min-width: 768px) {
  .container {
    min-width: 768px;
  }
}

@media (min-width: 992px) {
  .container {
    min-width: 992px;
  }
}
@media (min-width: 1200px) {
  .container {
    min-width: 1200px;
  }
}
@media (min-width: 1400px) {
  .container {
    min-width: 1400px;
  }
}

@media (min-width: 400px) {
  .container {
    min-width: 400px;
  }
  footer {
    white-space: nowrap;
  }
}
